<!DOCTYPE html>
<html>
	<head>
		<title>PetLover</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/global.css">
		<script src="https://kit.fontawesome.com/3548f99a6c.js" crossorigin="anonymous"></script>
	</head>
	<body>
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<span class="navbar-brand fas fa-paw"></span>
			<span class="navbar-brand mb-0 h1">PetLover</span>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/candidates">Pet Candidates</a>
					</li>
					<!-- <li class="nav-item active">
						<a class="nav-link" href="#">About us</a>
					</li> -->
				</ul>
				<ul class="navbar-nav my-2 my-lg-0">
					<% if(!currentUser){ %>
					<li class="nav-item active">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/register">Sign Up</a>
					</li>
					<% }else{ %>
					<li class="nav-item active mt-2 text-white">
						Welcome <%= currentUser.username %>!
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
	

	<% if(success && success.length > 0){ %>
		<div class="alert alert-success" role="alert">
			<div class="container">
				<%= success %>
			</div>
		</div>
	<% } %>
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert">
			<div class="container">
				<%= error %>
			</div>
		</div>
	<% } %>
		
		
	

