<%- include("../partials/header")%>

<!-- form -->
<div class="container">
	<h1 style="text-align: center">
		Create a New Candidate
	</h1>
	<div style="width:30%; margin:25px auto;">
		<form action="/candidates" method="POST">
			<!-- pet name -->
			<div class="form-group">
				<label for="petName">Name</label>
				<input type="text" class="form-control" id="petName" name="name" required>
			</div>
			<!-- pet image -->
			<div class="form-group">
				<label for="petImage">Image url</label>
				<input type="text" class="form-control" id="petImage" name="image" required>
			</div>
			<!-- pet gender -->
			<fieldset class="form-group">
				<legend class="col-form-label">Gender</legend>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="gender" id="petMale" value="Male">
					<label class="form-check-label" for="petMale">Male</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="gender" id="petFemale" value="Female">
					<label class="form-check-label" for="petFemale">Female</label>
				</div>
			</fieldset>
			
			<!-- pet vaccine -->
			<fieldset class="form-group">
				<legend class="col-form-label">Has taken vaccine?</legend>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="vaccine" id="petVaccineTrue" value="Yes">
					<label class="form-check-label" for="petVaccineTrue">Yes</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="vaccine" id="petVaccineFalse" value="No">
					<label class="form-check-label" for="petVaccineFalse">No</label>
				</div>
			</fieldset>
			<!-- pet description -->
			<div class="form-group">
				<label for="description">Description</label>
				<textarea type="text" class="form-control" id="description" name="description"></textarea>
			</div>
		
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</div>

		</form>
		<a href="/candidates">Go Back</a>
	</div>
		
		
		
	
</div>

<%- include("../partials/footer") %>